{% extends "default.html" %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-center">
        <small>
          Currently teaching myself Python and going back-to-basics with data structures and algorithms. As a way to avoid forgetting this new found knowledge I've created this web-app where I  can test myself. For each discovery a memory card will be created with a problem and solution, however the solution is only displayed once you've attempted to work it out yourself.
        </small>
      </p>
    </div>
  </div>
{% endblock %}
